<div class="vh-100 d-flex">
  <div class="container text-center">
    <h1 class="my-5">New Blog</h1>

    <%= render 'form', blog: @blog %>

    <%= link_to 'Back', blogs_path, class: "btn btn-outline-dark mt-3" %>
  </div>
</div>
