<p id="notice"><%= notice %></p>

<h1>完倉直弥(ししくらなおや)</h1>
<img src="profile_image.JPG" alt="" style="max-width: 50%">

<h2>所属チーム</h2>
<p>プロダクトエンジニアリンググループ/開発ユニット</p>
<h2>好きなこと</h2>
<ul>
  <li>ボクシング</li>
  <li>カラオケ</li>
  <li>サウナ</li>
  <li>旅行</li>
</ul>
<h2>SUPERSTUDIOをどこで知ったのか</h2>
<p>Wantedlyでスカウトして頂き興味を持ちました。</p>
<h2>なぜプログラミングをしようと思ったのか</h2>
<p>エンジニアの友達との出会い</p>
<p>エンジニアの友達と出会い、その友達が作ったアプリを見せてもらう機会がありました。
その時に、自分がアプリケーションを作って、友達や家族に使ってもらえることを想像すると純粋にワクワクする自分がいました。<br>文系の私にはアプリ開発など全く関係のない世界だと考えていたのですが、その友達は文系出身で学習を初めてから僅か半年でアプリケーションを開発していました。
文系の私にも、自分の作ったサービスをインターネットを通じてたくさんの人に届けることができるのか！とワクワクしたことがきっかけです。
</p>
<h2>プログラミングを通してどんなところを目指すのか</h2>
<p>人生を変えるようなきかっけを作りたい。</p>
<h2>１年後の姿</h2>
<p>技術力の向上に注力したい。誰よりもたくさん仕事をして、たくさん勉強して、そういった仕事に取り組む姿勢で皆さんに刺激を与えられるように頑張りたいと思います。</p>
