<p id="notice"><%= notice %></p>

<div class="top vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">Naoya Shishikura</h1>
        <p class="text-white my-3">Student in Meiji University</p>
        <a href="#profile" class="btn btn-primary text-white me-2">Go Profile</a>
        <a href="#" class="btn btn-outline-light text-white">Contact</a>
      </div>
    </div>
  </div>
  <!-- <img src="profile_image.JPG" alt="" style="max-width: 50%"> -->
</div>

<section id="profile" class="py-5">
  <div class="container">
    <h1>Profile</h1>
    <div class="row">
      <img src="../../assets/profile_image.jpg" alt="profile_image" class="col-md-6">
      <div class="col-md-6 mx-auto text-center">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>名前</td>
              <td>完倉直弥</td>
            </tr>
            <tr>
              <td>生年月日</td>
              <td>1999年3月5日</td>
            </tr>
            <tr>
              <td>出身地</td>
              <td>千葉県四街道市</td>
            </tr>
            <tr>
              <td>所属チーム</td>
              <td>プロダクトエンジニアリンググループ/開発ユニット</td>
            </tr>
            <tr>
              <td>好きなこと</td>
              <td>ボクシング/サウナ/旅行/カラオケ</td>
            </tr>
            <tr>
              <td>SUPERSTUDIOをどこで知ったのか</td>
              <td>Wantedlyでスカウトして頂き興味を持ちました。</td>
            </tr>
            <tr>
              <td>なぜプログラミングをしようと思ったのか</td>
              <td>エンジニアの友達との出会い</td>
            </tr>
            <tr>
              <td>プログラミングを通してどんなところを目指すのか</td>
              <td>人生を変えるようなきかっけを作りたい。</td>
            </tr>
            <tr>
              <td>１年後の姿</td>
              <td>技術力の向上に注力したい。誰よりもたくさん仕事をして、たくさん勉強して、そういった仕事に取り組む姿勢で皆さんに刺激を与えられるように頑張りたいと思います。</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
