<h1>お問い合わせありがとうございます。</h1>

<h3>お問い合わせ内容の確認</h3>

【名前】: <%= @contact.name %><br>
<br>

【メールアドレス】：<%= @contact.email %><br>
<br>

【カテゴリー】：<%= @contact.category %><br>
<br>

【お問い合わせ内容】<br>
<span style="white-space: pre-wrap;"><%= @contact.content %></span>
